@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background: #ffffff;
  line-height: 1.7;
  font-family: "Inter", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

.container {
  position: relative;
max-width: 1440px;
margin: 0 auto;
}

.link {
  text-decoration: none;
    color: inherit;
    
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.custom-file-input::before {
  content: "+ Add Files";
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  text-align: end;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}