nav{
    width: 100%;
    padding-top: 68px;
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* margin: 0 auto; */
    margin-inline: auto;
    margin-bottom: 90px ;
    /* border: 1px solid black; */
}

@media screen and (max-width: 890px) {
    nav{
        width: 90%;
        padding-left: 0;
        padding-right: 0;
    }
}


.nav__left{
    display: flex;
    align-items: center;
    margin-right: auto;
}

.nav__left > img:first-of-type{
    margin-right: 10px;
}

.nav__right{
    display: flex;
}


@media screen and (max-width: 610px){
    nav{
        flex-direction: column;
        text-align: center;
    }

    nav > .nav__left{
        text-align: center;
    }

    .nav__right{
        flex-direction: column;
    }
}

.nav__right > li{
    margin-right: 40px;
    text-decoration: none;
    color: black;
    list-style: none;
}

.nav__right > li > *{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #3A3B7B;
}